/* UniApp 全局变量 */

$uni-primary: #8B5CF6;
$uni-success: #00FF00;
$uni-warning: #F59E0B;
$uni-error: #EF4444;
$uni-text-color: #FFFFFF;
$uni-text-color-inverse: #000000;
$uni-bg-color: #0D0D0D;

$uni-spacing-sm: 16rpx;
$uni-spacing-base: 24rpx;
$uni-spacing-lg: 32rpx;

$uni-border-radius-sm: 16rpx;
$uni-border-radius-base: 24rpx;
$uni-border-radius-lg: 32rpx;
